.header {
  align-self: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  max-width: 45%;
}

.icon {
  color: gray;
  font-size: 2rem;
}

.linksContainer {
  align-self: center;
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
}

.link {
  color: gray;
  text-transform: capitalize;
  margin: 0 1rem;
}

.subscribe {
  background-color: rgba(228, 241, 254, .5);
  color: lightblue;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0 1rem;
}