.container {
  align-self: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  min-width: 17rem;
}

.imageContainer {
  background-color: pink;
  border-radius: 1rem 1rem 0 0;
  max-height: 10rem;
  width: 100%;
}

.image {
  border-radius: 1rem 1rem 0 0;
  max-height: 10rem;
  object-fit: cover;
  width: 100%;
}

.content {
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}