.container {
  align-self: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  margin: 0 1rem;
  min-width: 11rem;
}

.container:hover{
  transform: scale(1.05);
  transition: 1s;
}

.imageContainer {
  background-color: pink;
  border-radius: 1rem 1rem 0 0;
  max-height: 10rem;
  width: 100%;
}

.image {
  border-radius: 1rem 1rem 0 0;
  max-height: 10rem;
  object-fit: cover;
  width: 100%;
}

.content {
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

@media only screen and (max-width: 670px) {
  .container {
    margin: 1rem 0;
  }
}
