.base{
  display: none;
}

.open{
  background-color: rgba(0, 0, 0, .6);
  display: initial;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.open figure{
  border-radius: 1rem 1rem 0 0;
  width: 20rem;
}

.open figure img {
  border-radius: 1rem 1rem 0 0;
}

.modal{
  background-color: wheat;
  border-radius: 1rem;
  right:40%;
  position: absolute;
  top: 30%;
}

.modalContent{
  padding: 1rem;
}

.modalContent h3 {
  text-transform: capitalize;
}

.description{
  max-height: 10rem;
  max-width: 15rem;
  overflow: auto;
}

.description::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}
.description::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
