.base{
  display: none;
}

.open{
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
}


.modal {
  background-color:white;
  margin: auto;
  min-height: 70%;
  max-height: 70%;
  width: 25%;
  z-index: 101;
}

.modal figure {
  width: 100%;
}

.modal img {
  width: 100%;
}

.content{
  max-height: 23vh;
  padding: .5rem;
  overflow:auto;
}

.content > h4 {
  text-transform: capitalize;
}

.content::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}
.content::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

@media only screen and (max-width: 1200px) {
  .content{
    max-height: 25vh;
  }
}

@media only screen and (max-width: 1200px) {
  .content{
    max-height: 28vh;
  }
}

@media only screen and (max-width: 1000px) {

  .modal{
    width: 35%;
  }

  .content{
    max-height: 20vh;
  }
}

@media only screen and (max-width: 800px) {

  .modal{
    width: 40%;
  }

  .content{
    max-height: 20vh;
  }
}

@media only screen and (max-width: 700px) {

  .modal{
    width: 40%;
  }

  .content{
    max-height: 25vh;
  }
}

@media only screen and (max-width: 600px) {

  .modal{
    width: 50%;
  }

  .content{
    max-height: 25vh;
  }
}

@media only screen and (max-width: 500px) {

  .modal{
    width: 55%;
  }

  .content{
    max-height: 30vh;
  }
}

@media only screen and (max-width: 400px) {

  .modal{
    width: 70%;
  }

  .content{
    max-height: 30vh;
  }
}

@media only screen and (max-width: 300px) {

  .modal{
    width: 80%;
  }

  .content{
    max-height: 30vh;
  }
}
