.base{
  display: none;
}

.open{
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}


.modal {
  background-color:white;
  margin: auto;
  min-height: 70%;
  max-height: 70%;
  width: 25%;
  z-index: 101;
}

.modal figure {
  width: 100%;
}

.modal img {
  width: 100%;
}

.content{
  max-height: 28vh;
  padding: .5rem;
  overflow:auto;
}

.content > h4 {
  text-transform: capitalize;
}

.content::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}
.content::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
